footer{
    background-color: $dark;
    padding-top: 65px;
    padding-bottom: 64px;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    font-size: 16px;
}

.social-network{
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
    &__item{
        margin-left: 24px;

    }
    &__link{
        color:$white;
    }
}
@media screen and (max-width: $xs){
    footer{
        padding-top: 33px;
        padding-bottom: 33px;
    }
    .footer{
        flex-direction: column;
        padding-top: 33px;
        padding-bottom: 33px;
        gap: 10px;
    }

}