.section-advanteges{
    padding-top: 122px;
    padding-bottom: 100px;
    background-color: $light;
}

.advanteges{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 38px 21px 33px 0px;
    &__title{
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 26px;
        span{
            font-size: 22px;
            display: block;
            font-weight: 500;
            margin-bottom: 14px;
        }
    }
    &__icon{
        background-color: $dark;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        margin: 0 auto;
        background-position: center center;
        background-repeat: no-repeat;
        &-01{
            background-image: url(../img/fun/f01.png);
            background-size: 26px 23px;
        }
        &-02{
            background-image: url(../img/fun/f02.png);
            background-size: 26px 23px;
        }
        &-03{
            background-image: url(../img/fun/f03.png);
            background-size: 26px 23px;
        }
        &-04{
            background-image: url(../img/fun/f04.png);
            background-size: 26px 23px;
        }
    }
}
@media screen and (max-width: $xs){
    .section-advanteges{
        padding-top: 16px;
        padding-bottom: 0px;
    }

    .advanteges{
        flex-direction: column;
        padding: 0px;
        &__title{
            font-size: 16px;
            text-transform: uppercase;
            margin-top: 26px;
            span{
                font-size: 22px;
                display: block;
                font-weight: 500;
                margin-bottom: 14px;
            }
        }
    }
}
@media screen and (max-width: $md){
    .section-advanteges{
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .advanteges{
        padding: 0px;
    }
}