@import "helpers";
@import "main";
@import "section-about";
@import "section-services";
@import "section-portfolio";
@import "section-banner";
@import "section-feedback";
@import "section-advanteges";
@import "section-form";
@import "footer";

body, html{
    height: 100vh;
}
body{
    font-family: 'Roboto', sans-serif;
    color: $dark;
}
.text-center {
    text-align: center;
}
.wrapper{
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.title-h1{
    font-size: 63px;
    text-align: center;
    font-weight: 300;
    margin: 334px auto;
        span{
        font-weight: 500;
    }
}
.title-h2{
    margin-top: 0px;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
}
.title-h3{
    font-size: 22px;
    font-weight: 400;
}
.after-title{
    font-size: 16px;
    color: $text;
}
.btn{
    color: $white;
    background-color: $dark;
    font-size: 16px;
    text-decoration: none;
    padding: 20px 0;
}
@media screen and (max-width: $xs){
    body{
        width: 100vw;
    }
    .wrapper{
        max-width: 320px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 auto;
    }
    .title-h1{
        font-size: 24px;
        margin: 180px auto;
    }
    .title-h2{
        font-size: 22px;
    }
    .title-h3{
        font-size: 18px;
        font-weight: 400;
    }
    .after-title{
        font-size: 14px;
    }
}
@media screen and (max-width: $md){
    .wrapper{
        max-width: 768px;
        padding-left: 30px;
        padding-right: 30px;
        margin: 0 auto;
    }
    .title-h1{
        font-size: 38px;
    }
    .title-h2{
        font-size: 34px;
    }
}
@media screen and (max-width: $lg){
    .wrapper{
        padding-left: 45px;
        padding-right: 45px;
    }
}








