@import "helpers";


body, html{
    height: 100vh;
}


body{
    font-family: 'Roboto', sans-serif;
    color: $dark;
}

.text-center {
    text-align: center;
}

.wrapper{
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
}

.main{
    background-image: url(../img/banner.jpg);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
    background-size: cover;
    
}

.header{
    max-width: 1170px;
    padding-left: 35px;
    padding-right: 35px;
    margin: 39px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    &-item{
        margin-left: 23px;
    }
    &-link{
        color: $dark;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: 0.3s;
        &:hover{
            border-bottom: 1px solid $dark; 
        }

    }
    
}

.burger{
    display: none;
    cursor: pointer;
}

.burger {
    div{
        width: 25px;
        height: 3px;
        background-color: $dark;
        margin: 5px;
        display: flex;
        transition: all 0.3s ease;
    }
   
}

.title-h1{
    font-size: 63px;
    text-align: center;
    font-weight: 300;
    margin: 334px auto;
        span{
        font-weight: 500;
    }
}

.title-h2{
    margin-top: 0px;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
}

.title-h3{
    font-size: 22px;
    font-weight: 400;
}

.after-title{
    font-size: 16px;
    color: $text;
}

.btn-scroll{
    background-color: transparent;
    border: none;
    display: block;
    margin: 0px auto 35px;
}

.section-about{
    padding-bottom: 62px;
    .title-h2{
        margin-top: 0px;
        font-size: 48px;
        font-weight: 500;
    }
}

.box-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 200px;
    &-item{
        flex: 0 0 55%;
        max-width: 46%;
        position: relative;
        &:first-child{
            display: flex;
            justify-content: flex-end;
        }
        
    }
    &__back{
        position: absolute;
        z-index: -1;
        left: 0;
        top: -72px;
    }

 
    &__vertical{
        position: absolute;
        left: -4px;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        bottom: 128px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1.9px;
        &::after{
            content:"";
            display: block;
            width: 1px;
            height: 45px;
            background-color: $dark;
            position: absolute;
            right: 9px;
            top: 100px;
        }

    }
    &__text{
        color: $text;
        font-size: 15px;
        line-height: 23px;
        margin: 26px 0px;
    }
}

.progress-bar{
    
    &-text{
        font-size: 16px;
        font-weight: 500;  
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 21px;
    } 
    &-line{
        width: 100%;
        height: 2px;
        background-color: $dark;
        position: relative;
        &::before{
            content:"";
            background-image: url(../img/circle.png);
            display: block;
            background-repeat: no-repeat;
            position: absolute;
            width: 6px;
            height: 11px;
            left: -1px;
            top: -4px;
            // top: calc(50%-5.5px);
        }
        &::after{
            content: "";
            position: absolute;
            right: 0;
            display: block;
            height: 2px;
            background-color: #f2f2f2;
        }
    }  
    &--indesign{
        &::after{
            width: 35%;
        } 
    } 
    &--xd{
        &::after{
            width: 20%;
        } 
    } 
}

.section-services{
    background-color: $light;
    padding: 117px;
    padding-bottom: 56px;
}

.service{
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr 1fr;
    row-gap: 15px;
    column-gap: 49px;
    padding-top: 45px;
    margin-bottom: 30px;
    &-item{
        &:hover{
            .service__link-text{
                width: inherit;
                opacity: 1;
                padding-right: 9px;
            }
        }
    }
    &__icon{
        display: block;
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
    }
    &__design{
        background-image: url("../img/icon1.png");
        background-size: 50px 38px;
    }
    &__photo{
        background-image: url('../img/icon2.png');
        background-size: 58px 45px;
    }
    &__web{
        background-image: url('../img/icon3.png');
        background-size: 60px 41px;
    }
    &__social{
        background-image: url('../img/icon4.png');
        background-size: 52px 49px;
    }
    &__marketing{
        background-image: url('../img/icon5.png');
        background-size: 57px 48px;
    }
    &__app{
        background-image: url('../img/icon6.png');
        background-size: 57px 53px;
    }
    
    &__text{
        color:$text;
        font-size: 14px;
        line-height: 26.5px;
        
     
    }
    &__link{
        color: $dark;
        font-size: 14px;
        text-decoration: none;
        position: relative;
        // padding: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 60px;
        &-text{
            opacity: 0;
            width: 0;
            padding-right: 0;
            transition: 0.4s ease;
        }
        &-line{
            content: "";
            display: block;
            width: 25px;
            height: 1px;
            background-color: $dark;

        }
   
    }

}

.section-portfolio{
    margin-top: 144px;
    margin-bottom: 156px;
}

.portfolio{
    display: grid;
    grid-template: repeat(7, 89px)/1fr 1fr 1fr;
    grid-gap: 40px;
    margin-top: 82px;
    &-01{
        grid-column: 1/2;
        grid-row: 1/4;
    }
    &-02{
        grid-column: 2/3;
        grid-row: 1/5;
    }
    &-03{
        grid-column: 3/4;
        grid-row: 1/4;
    }
    &-04{
        grid-column: 1/2;
        grid-row: 4/8;
    }
    &-05{
        grid-column: 2/3;
        grid-row: 5/8;
    }
    &-06{
        grid-column: 3/4;
        grid-row: 4/8;
    }
    &-thumb{
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        img{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.btn{
    color: $white;
    background-color: $dark;
    font-size: 16px;
    text-decoration: none;
    padding: 20px 0;
}

.section-banner{
    padding-top: 72px;
    padding-bottom: 113px;
    background-color: $dark;
    color: $white;
    text-align: center;
    .before-title{
        font-size: 22px;
    }
    .title-h2{
        font-size: 48px;
        margin-bottom: 35px;
    }
    .btn{
        color: $dark;
        background-color: $white;
        padding: 12px 58px;
    }
}

.section-feedback{
    padding-top: 122px;
    padding-bottom: 100px;
}

.feedback{
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
    &-item{
        flex: 0 0 49%;
        min-width: 45%;
    }
    &-top{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 21px;
    }

    &-thumb{
        margin-right: 9px;
    }
    &-name{
        &__title{
            font-size: 22px;
            margin-top: 14px;
            margin-bottom: 11px;
        }
        &__job{
            font-size: 12px;
            color: $text;
            margin-bottom: 0;
        }
    }
    &-body{
        font-size: 18px;
        color: #7f7f82;
        font-style: italic;
        padding: 13px 0px 0px 29px;
        line-height: 1.8;
        background-image: url(../img/Quote.png);
        background-repeat: no-repeat;
        background-position: 28px 27px;
    }
}

.section-advanteges{
    padding-top: 122px;
    padding-bottom: 100px;
    background-color: $light;
}

.advanteges{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 38px 21px 33px 0px;
    &__title{
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 26px;
        span{
            font-size: 22px;
            display: block;
            font-weight: 500;
            margin-bottom: 14px;
        }
    }
    &__icon{
        background-color: $dark;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        margin: 0 auto;
        background-position: center center;
        background-repeat: no-repeat;
        &-01{
            background-image: url(../img/fun/f01.png);
            background-size: 26px 23px;
        }
        &-02{
            background-image: url(../img/fun/f02.png);
            background-size: 26px 23px;
        }
        &-03{
            background-image: url(../img/fun/f03.png);
            background-size: 26px 23px;
        }
        &-04{
            background-image: url(../img/fun/f04.png);
            background-size: 26px 23px;
        }
    }
}

.section-form{
    padding-top: 70px;
    padding-bottom: 90px;
}

.form{
    display: flex;
    flex-direction: column;
    max-width: 750px;
    margin: 40px auto;
    text-align: center;
    &__input, &__textarea{
        border: none;
        border-bottom: 1px solid #e1e1e1;
        font-size: 14px;
        padding: 20px;
        text-align: center;
        margin-bottom: 2px;
        margin-top: 5px;
        transition: 0.3s;
        &:focus{
            outline: none;
            border-bottom: 1px solid $dark;
        }
    }
    &__textarea{
        padding-bottom: 39px;
    }
    .btn{
        color: #fff;
        background-color: #22222b;
        font-size: 16px;
        text-decoration: none;
        padding: 20px 0;
        margin-top: 32px;
        border: none;
    }
}

footer{
    background-color: $dark;
    padding-top: 65px;
    padding-bottom: 64px;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    font-size: 16px;
}

.social-network{
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
    &__item{
        margin-left: 24px;

    }
    &__link{
        color:$white;
    }
}


// //lg
// @include media("within", "lg") {
//     body{
//         overflow-x: hidden;
//     }
//     .wrapper{
//         max-width: 769px;
//         padding-left: 35px;
//         padding-right: 35px;
//         margin: 0 auto;
        
//     }
//     .header{
//         max-width: 769px;
//         padding-left: 35px;
//         padding-right: 35px;
//         margin: 39px auto;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
        
//     }
    
//     .nav{
//         display: flex;
//         flex-direction: column;
//         position: absolute;
//         right: 0px;
//         top: 8vh;
//         // height: 92vh;
//         background-color: $light;
//         opacity: .8;
//         align-items: center;
//         width: 40%;
//         transform: translateX(100%);
        
//         transition: transform 0.8 ease-in;
//         &-item{
//             margin: 21px 43px;
//         }
//         &-link{
//             color: $dark;
//             text-decoration: none;
//             border-bottom: 1px solid transparent;
//             transition: 0.3s;
//             &:hover{
//                 border-bottom: 1px solid $dark; 
//             }
    
//         }
        
//     }

//     .burger{
//         display: block;        
//     }

//     .box-about {
//         display: flex;
//         justify-content: space-between;
//         align-items: flex-start;
//         padding-top: 200px;
//         &-item{
//             flex: 0 0 45%;
//             max-width: 35%;
//             position: relative;
//             &:first-child{
//                 display: flex;
//                 justify-content: flex-end;
//             }
//         }
//         &__front{
//             position: absolute;
//             z-index: 1;
//             left: 118px;
//             top: 11px;
//             max-height: 447px;
//         }
//         &__vertical{
//             left: 6px;
//             top: 467px;
//         }
//     }
    
//     .section-portfolio{
//         margin-top: 74px;
//         margin-bottom: 86px;
//     }

//     .portfolio{
//         grid-gap: 10px;
        
//     }

//     .section-services {
//         background-color: #faf9fe;
//         padding: 45px;
//         padding-bottom: 19px;
//     }

//     .service{
//         display: grid;
//         grid-template: 1fr 1fr/1fr 1fr;
//         row-gap: 10px;
//         column-gap: 30px;
//         padding-top: 45px;
//         margin-bottom: 30px;
//     }

//     .section-banner{
//         padding-top: 33px;
//         padding-bottom: 67px;
//         .before-title{
//             font-size: 18px;
//         }
//         .title-h2{
//             font-size: 36px;
//             margin-bottom: 35px;
//         }
//     }

//     .section-feedback{
//         padding-top: 94px;
//         padding-bottom: 85px;
//     }
    
//     .feedback{
//         margin-top: 53px;
//         &-item{
//             flex: 0 0 50%;
//             min-width: 45%;
//             padding-left: 7px;
//         }
//         &-body{
//             font-size: 16px;
//             padding: 13px 0px 0px 21px;
            
//         }
//     }
    
//     .section-advanteges{
//         padding-top: 43px;
//         padding-bottom: 43px;
//     }
    
    
//     .section-form{
//         padding-top: 70px;
//         padding-bottom: 90px;
//     }
    
//     .form{
//         display: flex;
//         flex-direction: column;
//         max-width: 750px;
//         margin: 40px auto;
//         text-align: center;
//         &__input, &__textarea{
//             border: none;
//             border-bottom: 1px solid #e1e1e1;
//             font-size: 14px;
//             padding: 20px;
//             text-align: center;
//             margin-bottom: 2px;
//             margin-top: 5px;
//             transition: 0.3s;
//             &:focus{
//                 outline: none;
//                 border-bottom: 1px solid $dark;
//             }
//         }
//         &__textarea{
//             padding-bottom: 39px;
//         }
//         .btn{
//             color: #fff;
//             background-color: #22222b;
//             font-size: 16px;
//             text-decoration: none;
//             padding: 20px 0;
//             margin-top: 32px;
//             border: none;
//         }
//     }
    
//     footer{
//         background-color: $dark;
//         padding-top: 65px;
//         padding-bottom: 64px;
//     }
    
//     .footer{
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         color: $white;
//         font-size: 16px;
//     }
    
//     .social-network{
//         display: flex;
//         list-style: none;
//         padding-left: 0;
//         margin: 0;
//         &__item{
//             margin-left: 24px;
    
//         }
//         &__link{
//             color:$white;
//         }
//     }
//   }

//   .toggle{
//     .line1{
//         transform: rotate(-45deg) translate(-5px, 6px);
//     }
//     .line2{
//         opacity: 0;
//     }
//     .line3{
//         transform: rotate(45deg) translate(-5px, -6px); 
//     }
//   } 

//   .nav-active{
//     overflow: visible;
//     //   transform: translateX(0%);
//     //   transition: transform  ease 1.2s;
//   }

//   @keyframes navLinkFade{
//       from{
//           opacity: 0;
//           transform: translateX(50px);
//       }
//       to{
//           opacity: 1;
//           transform: translateX(0px);
//       }
//   }


//   //md
//   @include media("within", "md") {
 
//     body{
//         // overflow-x: hidden;
//         max-width: 767px;

        
//     }
//     .wrapper{
//         // max-width: 767px;
//         max-width: 100vw;
//         margin: 0px;
//         padding: 10px;
//     }
//     .main{
//         background-image: url(../img/banner.jpg);
//         max-width: 767px;
//         display: flex;
//         flex-direction: column;
//         min-height: 100%;
//         justify-content: space-between;
//         background-size: cover;
//     }
    
//     .header{
//         max-width: 767px;
//         margin: 14px auto;
//         display: flex;
//         justify-content: space-around;
//         align-items: center;
        
//     }

//     .logo{
//         img{
//             width: 106px;
//             height: 27px;
//         }
        
//     }

//     .title-h1{
//         font-size: 36px;
//         text-align: center;
//         font-weight: 300;
//         margin: 155px auto;
//             span{
//             font-weight: 500;
//         }
//     }
    
//     .nav{
//         display: flex;
//         flex-direction: column;
//         position: absolute;
//         right: 0px;
//         top: 8vh;
//         // height: 92vh;
//         background-color: $light;
//         opacity: .8;
//         align-items: center;
//         width: 30%;
//         overflow: hidden;
//         // transform: translateX(100%);
//         // transition: transform 0.8 ease-in;
//         &-item{
//             margin: 21px 43px;
//         }
//         &-link{
//             color: $dark;
//             text-decoration: none;
//             border-bottom: 1px solid transparent;
//             transition: 0.3s;
//             &:hover{
//                 border-bottom: 1px solid $dark; 
//             }
    
//         }
        
//     }

//     .burger{
//         display: block;        
//     }

//     .box-about {
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//         align-items: flex-start;
//         padding-top: 200px;
//         &-item{
//             flex: 0 0 45%;
//             max-width: 35%;
//             position: relative;
//             &:first-child{
//                 display: none;
//                 justify-content: flex-end;
//             }
//         }
//         &__front{
//             position: absolute;
//             z-index: 1;
//             left: 118px;
//             top: 11px;
//             max-height: 447px;
//         }
//         &__vertical{
//             left: 6px;
//             top: 467px;
//         }
//     }
    
//     .section-portfolio{
//         margin-top: 74px;
//         margin-bottom: 86px;
//     }

//     .portfolio{
//         grid-gap: 10px;
        
//     }

//     .section-services {
//         background-color: #faf9fe;
//         padding: 45px;
//         padding-bottom: 19px;
//     }

//     .service{
//         display: grid;
//         grid-template: 1fr 1fr/1fr 1fr;
//         row-gap: 10px;
//         column-gap: 30px;
//         padding-top: 45px;
//         margin-bottom: 30px;
//     }

//     .section-banner{
//         padding-top: 33px;
//         padding-bottom: 67px;
//         .before-title{
//             font-size: 18px;
//         }
//         .title-h2{
//             font-size: 36px;
//             margin-bottom: 35px;
//         }
//     }

//     .section-feedback{
//         padding-top: 94px;
//         padding-bottom: 85px;
//     }
    
//     .feedback{
//         margin-top: 53px;
//         &-item{
//             flex: 0 0 50%;
//             min-width: 45%;
//             padding-left: 7px;
//         }
//         &-body{
//             font-size: 16px;
//             padding: 13px 0px 0px 21px;
            
//         }
//     }
    
//     .section-advanteges{
//         padding-top: 43px;
//         padding-bottom: 43px;
//     }
    
    
//     .section-form{
//         padding-top: 70px;
//         padding-bottom: 90px;
//     }
    
//     .form{
//         display: flex;
//         flex-direction: column;
//         max-width: 750px;
//         margin: 40px auto;
//         text-align: center;
//         &__input, &__textarea{
//             border: none;
//             border-bottom: 1px solid #e1e1e1;
//             font-size: 14px;
//             padding: 20px;
//             text-align: center;
//             margin-bottom: 2px;
//             margin-top: 5px;
//             transition: 0.3s;
//             &:focus{
//                 outline: none;
//                 border-bottom: 1px solid $dark;
//             }
//         }
//         &__textarea{
//             padding-bottom: 39px;
//         }
//         .btn{
//             color: #fff;
//             background-color: #22222b;
//             font-size: 16px;
//             text-decoration: none;
//             padding: 20px 0;
//             margin-top: 32px;
//             border: none;
//         }
//     }
    
//     footer{
//         background-color: $dark;
//         padding-top: 65px;
//         padding-bottom: 64px;
//     }
    
//     .footer{
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         color: $white;
//         font-size: 16px;
//     }
    
//     .social-network{
//         display: flex;
//         list-style: none;
//         padding-left: 0;
//         margin: 0;
//         &__item{
//             margin-left: 24px;
    
//         }
//         &__link{
//             color:$white;
//         }
//     }
    

//   }



